@font-face {
   font-family:adonis-web;
   src:url(https://use.typekit.net/af/807888/00000000000000000001007d/27/l?subset_id=2&fvd=n4&v=3) format("woff2"),
   url(https://use.typekit.net/af/807888/00000000000000000001007d/27/d?subset_id=2&fvd=n4&v=3) format("woff"),
   url(https://use.typekit.net/af/807888/00000000000000000001007d/27/a?subset_id=2&fvd=n4&v=3) format("opentype");
   font-weight:400;
   font-style:normal;
   font-stretch:normal;
   font-display:auto;
  }
  @font-face {
   font-family:adonis-web;
   src:url(https://use.typekit.net/af/d99a65/000000000000000000010080/27/l?subset_id=2&fvd=n7&v=3) format("woff2"),
   url(https://use.typekit.net/af/d99a65/000000000000000000010080/27/d?subset_id=2&fvd=n7&v=3) format("woff"),
   url(https://use.typekit.net/af/d99a65/000000000000000000010080/27/a?subset_id=2&fvd=n7&v=3) format("opentype");
   font-weight:700;
   font-style:normal;
   font-stretch:normal;
   font-display:auto;
  }
  @font-face {
   font-family:adonis-web;
   src:url(https://use.typekit.net/af/0082da/00000000000000000001007f/27/l?subset_id=2&fvd=i4&v=3) format("woff2"),
   url(https://use.typekit.net/af/0082da/00000000000000000001007f/27/d?subset_id=2&fvd=i4&v=3) format("woff"),
   url(https://use.typekit.net/af/0082da/00000000000000000001007f/27/a?subset_id=2&fvd=i4&v=3) format("opentype");
   font-weight:400;
   font-style:italic;
   font-stretch:normal;
   font-display:auto;
  }
  @font-face {
   font-family:adonis-web;
   src:url(https://use.typekit.net/af/4e9399/000000000000000000010081/27/l?subset_id=2&fvd=i7&v=3) format("woff2"),
   url(https://use.typekit.net/af/4e9399/000000000000000000010081/27/d?subset_id=2&fvd=i7&v=3) format("woff"),
   url(https://use.typekit.net/af/4e9399/000000000000000000010081/27/a?subset_id=2&fvd=i7&v=3) format("opentype");
   font-weight:700;
   font-style:italic;
   font-stretch:normal;
   font-display:auto;
  }
  