* {
   font-family: 'adonis-web';
   padding: 0;
   margin: 0;
   box-sizing: border-box;
 }

 /* body {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
 } */

 form {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 100vh;
 }

  textarea {
   outline: none;
   padding: 1rem;
   border-radius: 0.5rem;
   width: 100%;
   margin-block: 1rem;
 }

 button {
   padding: 1rem 2rem;
   margin-right: 1rem;
 }

 .result {
   margin-block: 2rem;
 }